body {
	 font-family: "Montserrat";
	 line-height: 1.5;
	 color: white;
}
 h3 {
	 font-family: "Nunito";
	 font-size: 2em;
	 margin-bottom: 1em;
	 text-transform: uppercase;
}
 section {
	 position: absolute;
	 width: 100%;
	 top: 0;
	 left: 0;
	 height: 100vh;
	 overflow: hidden;
}
 .character-half {
	 position: absolute;
	 top: 0;
	 width: 50%;
	 height: 100%;
}
 .character-picture {
	 left: 0;
	 background-color: #fff;
}
 .picture-container {
	 position: absolute;
	 top: 0;
	 left: 0;
	 height: 100%;
	 width: 100%;
	 background-image: url(https://dummyimage.com/600x400/fff/000);
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-position: center bottom;
	 transform: translateY(100vh);
}
 .picture-container.displayed {
	 transform: translateY(0);
	 opacity: 1;
	 z-index: 1;
}
 .picture-container.picture-1 {
	 background-image: url(https://dummyimage.com/600x400/fff/000);
}
 .picture-container.picture-2 {
	 background-image: url(https://dummyimage.com/600x400/FFC/000);
}
 .picture-container.picture-3 {
	 background-image: url(https://dummyimage.com/400x600/EEB/000);
}
 .character-description {
	 left: 50%;
	 background-color: #429997;
}
 .description-container {
	 width: 80%;
	 margin-left: 10%;
	 position: absolute;
	 top: 50%;
	 transform: translate(50vw, -50%);
}
 .description-container.displayed {
	 transform: translate(0, -50%);
	 opacity: 1;
	 z-index: 1;
}
 .description-container, .picture-container {
	 transition: transform 0.8s;
	 opacity: 0;
}
 header {
	 position: relative;
	 z-index: 1;
}
 header nav {
	 position: absolute;
	 right: 1em;
	 top: 1em;
}
 .nav-control {
	 cursor: pointer;
	 height: 2.5rem;
	 width: 2.5rem;
	 border: 3px solid #fff;
	 font-size: 1.5em;
	 text-align: center;
	 line-height: 2.7rem;
	 display: inline-block;
}
 .nav-control:hover {
	 background-color: #fff;
	 color: red;
}
 
